<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        .image-thumbnail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}">All</a>
                        </li>
                        {% for category in categories %}
                            <li class="list-group-item">
                            <a href="{% url 'gallery' %}?category={{ category.name }}">
                            {{category.name}}
                            </a>
                        </li>
                        {% endfor %}
                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>

                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-md-4">
                            <div class="card my-2" style="width: 18rem;">
                                <img class="image-thumbnail" src="{{photo.image.url}}" alt="Card image cap">
                                <div class="card-body">
                                    <small>Category: {{photo.category.name}}</small>
                                </div>
                                <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                            </div>
                        </div>
                    {% empty %}
                    <h3>No photos available</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>